body{
    padding:0 ;
    margin: 0;
}
#root{
    background: #303030;
    color: #f6f7f9;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.box{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 300px;
    padding: 20px;
    height: 100px;
}

input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 5px;
}

input:hover,input:focus{
    box-shadow: 0 0 20px #4566f8 ;
 }
p{
    position: absolute;
    right: 30px;
    cursor: pointer;
}